<div class="card">
  <div class="card__image-holder">
    <img src="assets/images/avatar-jessica.jpeg" alt="avatar" />
  </div>
  <div class="card__name">Jessica Randall</div>
  <div class="card__location">London, United Kingdom</div>
  <div class="card__description">"Front-end developer and avid reader."</div>
  <div class="card__links">
    <app-link-button 
      name="GitHub" 
      link="https://github.com/"
    ></app-link-button>
    <app-link-button
      name="Frontend Mentor"
      link="https://www.frontendmentor.io/home"
    ></app-link-button>
    <app-link-button
      name="LinkedIn"
      link="https://www.linkedin.com/"
    ></app-link-button>
    <app-link-button 
      name="Twitter" 
      link="https://x.com/"
    ></app-link-button>
    <app-link-button
      name="Instagram"
      link="https://www.instagram.com/"
    ></app-link-button>
  </div>
</div>
